@keyframes animacao-botao-menu {
    from {
        color: white;
    }

    to {
        color: #01aafd;
    }
}



body {
    background-color: rgb(39, 39, 39);
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Roboto Condensed';
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#titulo {
    line-height: 10px;
    padding: 10px;
}

.titulo-azul {
    color: #01aafd;
    
}

.borda-conta {
    border-radius: 10px;
    border: 2px solid #01aafd;
}

ul {

}

li {
    display: inline-block;
    margin: 20px;
    padding-left: 10px;

}

a {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;   
}

a:hover {
    background-color: #01aafd;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
    padding: 10px;
}

img {
    width: 500px;
    height: 500px;
    margin-top:-40px;
    margin-right: 150px;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}
form {
    display: flex;
    flex-direction: column;
}

aside h1 {
    font-size: 4em;
    line-height: 1px;
}

aside p {
    width: 400px;
}

input {
    width: 300px;
    border-radius: 15px;
    padding: 14px;
    border: none;
    margin-bottom: 10px;
    outline: none;
}

#botao {
    width: 150px;
    background-color: #01aafd;
    color: white;
    font-size: 16px;
    transition: all 0.1s ease-in-out;
}

#botao:hover {
    cursor: pointer;
    background-color: #57c7ff;
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
}